.ad {
  /* margin: 0 auto; */
}

.ad_image {
  height: 400px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

.description {
  margin-top: 1rem;
}

.user {
  max-width: 25%;
}

@media only screen and (max-width: 1200px) {
  .flex {
    justify-content: left;
    /* flex-direction: column; */
  }
}
@media only screen and (max-width: 660px) {
  .ad {
    margin: 0 auto;
  }
}
