.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ad {
  padding: 1rem;
}

.ad_image {
  height: 300px;
  width: 300px;
  background-color: darkorange;
}

.ad_image .img {
  max-width: 100%;
  max-height: 100%;
}

.title {
}
.price {
  font-size: 1.5rem;
}
.condition {
}
