.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ad {
  padding: 1rem;
}

.ad_image {
  height: 300px;
  width: 300px;
  background-color: darkorange;
}

.title {
}

.condition {
}
