:root {
  --background-color: #f8f9f9;
  --price-color: #37a864;
  --description-color: #373373;
  /* --paragraph-color: black;
  --button-color: #3730a3;
  --button-color-hover: #ff335f; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--background-color);
}

/* .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 800px;
} */

a {
  /* color: inherit; */

  color: royalblue;

  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.price {
  color: var(--price-color);
  font-size: 1.5rem;
}
