.container {
  border-bottom: 1px black solid;
}
.nav {
  margin: auto 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.logo {
  text-decoration: none;
}

.nav .ul {
  padding: 0;
  margin: 0;
  min-width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
