.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav .ul {
  padding: 0;
  margin: 0;
  min-width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
